[Unit]
Description=Run website-stalker
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/local/bin/website-stalker run --all --commit
WorkingDirectory=/var/local/lib/website-stalker
User=website-stalker
Group=website-stalker

[Install]
WantedBy=multi-user.target
