name: Run executable

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable
        id: rust

      - uses: actions/checkout@v6
      - run: cargo fetch
      - uses: actions/cache@v4
        with:
          key: run-${{ steps.rust.outputs.cachekey }}-${{ hashFiles('**/Cargo.*') }}
          path: target/
      - run: cargo build
      - uses: actions/upload-artifact@v5
        with:
          name: website-stalker
          path: target/debug/website-stalker
          retention-days: 1

  run-example-config:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: /usr/local/bin
          merge-multiple: true
      - run: sudo chmod +x /usr/local/bin/website-stalker

      - uses: actions/checkout@v6

      - run: website-stalker run --all
        working-directory: sites
        env:
          WEBSITE_STALKER_FROM: website-stalker-run-workflow@edjopato.de

  json-schema:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: /usr/local/bin
          merge-multiple: true
      - run: sudo chmod +x /usr/local/bin/website-stalker

      - run: website-stalker json-schema | tee website-stalker-schema.json | jq --color-output

      - uses: actions/upload-artifact@v5
        with:
          name: json-schema
          path: website-stalker-schema.json

      - name: Add to GitHub release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          files: website-stalker-schema.json
